.row {
    justify-content: center;
    
}

.balon-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.balon-estadio {
    width: 50%;
    max-width: 50%;
}

.form-nav-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
  }