.row {
  justify-content: center;
  
}

.fw-bold {
  color:  #001764; 
}


.form-label {
  color:  #001764; 
  font-weight: bold;
}

.form-nav-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}
